<main class="container d-flex align-items-center employee-editor-page">
  <form
    class="pt-3 col-3 w-25 m-auto"
    [formGroup]="employeeForm"
    (ngSubmit)="onSubmit()"
  >
    <h2 class="text-center">Add a new Employee</h2>
    <section class="mb-3">
      <label
        for="txt"
        class="form-label"
      >
        Name
      </label>
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="hasError('name')"
        id="txt"
        formControlName="name"
      />
      <span class="invalid-feedback">Name is required</span>
    </section>

    <section class="text-end">
      <button
        type="submit"
        class="btn btn-primary me-2"
      >
        Create
      </button>
      <a
        routerLink="/employee"
        class="btn btn-danger"
      >
        Cancel
      </a>
    </section>
  </form>
</main>

<!-- Success Alert -->
<swal
  #successSwal
  [title]="'Success!'"
  [text]="'Employee created successfully!'"
  icon="success"
></swal>

<!-- Error Alert -->
<swal
  #errorSwal
  title="Error"
  text="Something went wrong!"
  icon="error"
></swal>
